{% extends 'App::layout.html.twig' %}

{% block body %}

    <h1>Awesome automated deployer for awesome applications</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <select name="projects" id="projects" class="form-control">
        <option value="" disabled selected>Projects available</option>
        {% for project in projects %}
            <option value="{{ project.id }}" data-href-web="{{ url('deploy', {'id': project.id}) }}" data-href-api="{{ url('api_deploy', {'id': project.id}) }}">{{ project }}</option>
            {% else %}
                <option value="" disabled selected>No project for now</option>
        {% endfor %}
    </select><br />
    <a href="" class="btn btn-success" id="button-deploy">Deploy</a><br/>

    <h4>Path for the API</h4>
    <pre id="foo">
    </pre>


{% endblock body %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            $('#projects').change(function () {
                var $option = $(this).find(':selected');

                $('#button-deploy').attr('href', $option.data('href-web'));
                $('#foo').html($option.data('href-api'));
            });
        });
    </script>
{% endblock %}
